<ion-header>
	<ion-navbar>
		<ion-title>
			About
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngFor="let data of serverData">
		<h3 class="has-text-weight-bold">Recieved: {{ data[0] }}</h3>
		<pre>{{ data[1] }}</pre>
	</div>
</ion-content>
